/* ESTILOS GENERALES*/
* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #F8F9FA;
}
.img-tarj{
  max-width: 100%;
  height:auto;
}

.container-flex-row {
	display: flex;
	justify-content: space-between;

}

.container-flex-column {
  display: flex;
  flex-direction:column;
  justify-content: center;
  padding: 2em;
}

.title-principal{
  color: rgb(58, 20, 20);
  font-size: 2rem;
  font-weight: 700;
}

#btn-pay{
  background-color: brown;
}

.border-rad {
  border-radius: 5px;
}
.btn-cont {
  margin-bottom: 1rem;
}
.bg-white {
  background-color: #fff;
}

.users {
  padding: 1rem;
}

.sub-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: .8rem;
}

.code {
  color: #fff;
  border-right: 2rem;
  border-right-color: #868E96;
}

.bg-code {
  background-color: #343A40;
  border-radius: 2px;
}
pre {
  padding: .5rem;
}

.footer-bg {
  background-color: #495057;
  color: #fff;
}